<!DOCTYPE html>
html
    head
        //- link(rel='stylesheet', href='/css/style.css')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
            | Matcha
        link(rel='shortcut icon', href='images/1.png', type='image/png')
        //- Internal scripts
        script(type='text/javascript', src='/js/access.js')
    body!= body