.content-main
	.container.scrollbar
		#main-slider.row.main-slider-top
			.col
				#mainCarousel.carousel.slide(data-ride='carousel', data-interval='false')
					ol.carousel-indicators
						li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
						li(data-target='#carouselExampleIndicators', data-slide-to='1')
						li(data-target='#carouselExampleIndicators', data-slide-to='2')
					.carousel-inner(role='listbox')
						.carousel-item.active
							img.d-block.img-fluid(src='../../images/pages/index/main-slider-slide-1.jpg', alt='First slide')
							.carousel-caption.d-none.d-md-block
								h4 FOR THOSE SEEKING LOVE AND MARRIAGE
								h1 DATING
						.carousel-item
							img.d-block.img-fluid(src='../../images/pages/index/main-slider-slide-2.jpg', alt='Second slide')
							.carousel-caption.d-none.d-md-block
								h4 FOR THOSE SEEKING LOVE AND MARRIAGE
								h1 DATING
						.carousel-item
							img.d-block.img-fluid(src='../../images/pages/index/main-slider-slide-3.jpg', alt='Third slide')
							.carousel-caption.d-none.d-md-block
								h4 FOR THOSE SEEKING LOVE AND MARRIAGE
								h1 DATING
					a.carousel-control-prev(href='#mainCarousel', role='button', data-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#mainCarousel', role='button', data-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.sr-only Next
		#main-describe-block.row.index-row.main-describe-block
			.col-12
				.describe-text-header
					h4
						| Project Matcha of 
						br
						|  school 42
			.col-xs-12.col-sm-12.col-md-6.col-lg-5
				.describe-text.scrollbar
					h6
						| This second millennium has forever changed and upheld the habits and manners of Internet.
						| The choice is guided by technologies, and room for luck is increasingly smaller.
						| Human relationships, seed of any modern society are increasingly created artificially by
						| meeting sites algorithms and social networks, between people that match to some very
						| precise criteria.
						br
						br
						| 								Yes, romanticism is dead, and Victor Hugo is probably spinning in his grave.
						br
						br
						| 								Dating websites are a market of love. One can “prospect” and “present” him or herself
						| 								with the goal of meeting the person with whom he or she will develop a relationship. If
						| 								most meeting sites known to the public have a widespread audience, some sites, following
						| 								a logical niche strat- egy have specialized in some very specific domain, some are very
						| 								indecent.
						br
						br
						| 								Hairy guys for example, will find love on BearWWW, Goths will go to Gothicmatch,
						| 								and wizards (and other pentacles lovers) on Witchdating.
						br
						br
						| 								Some sites will be different, such as 7OrBetter.com 1 or seekingmillionaire.com.
				a.btn-describe-more(href='https://cdn.intra.42.fr/pdf/pdf/968/matcha.en.pdf', target='_blank')
					h5 learn more
			.col-xs-12.col-sm-12.col-md-6.col-lg-7
				.describe-video-wrap
					iframe(width='560', height='315', src='https://www.youtube.com/embed/22Oo2L2eIZs', frameborder='0', allowfullscreen='')
		#main-statistic-wrap.row.index-row.main-statistic-wrap
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.statistic-registraion-wrap
					.sr-text-wrap
						h4
							| JOIN, IT`S FREE!
							h5
								| AND START DATING TODAY...
					a.btn-registration-join(href='#', target='_blank')
						h6 JOIN US NOW!
			.col-12
				.statistic-registered-users.statistic
					div
						h4 100
						h6 Registerred users
				.statistic-send-messages.statistic
					div
						h4 33807
						h6 Sended messages
				br
				.statistic-datings.statistic
					div
						h4 3251
						h6 Successful dates
				.statistic-happy-end.statistic
					div
						h4 33807
						h6 Happy ends
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
		#main-new-users.row.index-row.main-new-users
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				ul.main-article-wrap
					li.item
						.item-icon
							i.fa.fa-heart(aria-hidden='true')
						.item-text
							| JOIN AND FIND YOUR LOVE
					li.item
						.item-icon
							i.fa.fa-user-circle(aria-hidden='true')
						.item-text
							| ADD INFORMATION ABOUT YOURSELF
					li.item
						.item-icon
							i.fa.fa-th-list(aria-hidden='true')
						.item-text
							| ANALYZE THE LIST OF PEOPLE
					li.item
						.item-icon
							i.fa.fa-comments-o(aria-hidden='true')
						.item-text
							| GET IN TOUCH
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.last-added-profiles
					h3 LAST ADDED PROFILES :
				.lap-list-wrap
					ul.lap-list.clearfix
						li.lap-item
							.lap-img-wrap
								img(src='../../images/doctor.jpg', alt='')
							.lap-bottom-text
								a.lap-btn-more(href='#') >
								.name
									| Doctor WHO
								.age
									| 9999+ years old
						li.lap-item
							.lap-img-wrap
								img(src='../../images/doctor.jpg', alt='')
							.lap-bottom-text
								a.lap-btn-more(href='#') >
								.name
									| Doctor WHO
								.age
									| 9999+ years old
						li.lap-item
							.lap-img-wrap
								img(src='../../images/doctor.jpg', alt='')
							.lap-bottom-text
								a.lap-btn-more(href='#') >
								.name
									| Doctor WHO
								.age
									| 9999+ years old
						li.lap-item
							.lap-img-wrap
								img(src='../../images/doctor.jpg', alt='')
							.lap-bottom-text
								a.lap-btn-more(href='#') >
								.lap-name
									| Doctor WHO
								.la-age
									| 9999+ years old
				.main-footer
					h6 created by gsominsk
		#main-anchor.main-anchor
			a.active(href='#main-slider')
				i.fa.fa-circle(aria-hidden='true')
			a(href='#main-describe-block')
				i.fa.fa-circle(aria-hidden='true')
			a(href='#main-statistic-wrap')
				i.fa.fa-circle(aria-hidden='true')
			a(href='#main-new-users')
				i.fa.fa-circle(aria-hidden='true')
