.content-main
	.container.scrollbar
		.notification-menu-wrap
			.notification#sound

			ul.notification-list
				notification(v-for="(notification, key) in notifications" v-bind:item="notification" v-bind:key="key" v-on:click.native="deleteItem")

		// FLOAT MENU
		.float_menu_wrap
			.float_menu_header
				.logo
					span.mobile-logo MATCHA
				.menu_icon_out
				.menu_icon_in
			.profile-menu
				.profile-avatar-wrap(v-if="avatar != 'images/unknown.jpg'" data-toggle="modal" data-target="#galleryPhotosModal" v-on:click="getPhotoData")
					img(v-bind:src='avatar', alt='avatar')
				.profile-avatar-wrap(v-else style="cursor: default;")
					img(v-bind:src='avatar', alt='avatar')
				ul.profile-menu-list
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='0')
						| Мой профиль
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='1')
						| Мои сообщения
						span(v-if="mCounter != 0")
							|({{mCounter}})
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='2')
						| Мои друзья
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='3')
						| Настройки
				ul.profile-menu-list
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='5')
						| Поиск
					li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='6')
						| Черный список
		.row.header-row
			.col
				span.header-logout
					| logout
		.row.body-row
			// LEFT MENU
			.col-xs-12.col-sm-4.col-md-4.col-lg-3.profile-menu-wrap
				.profile-menu
					.profile-avatar-wrap(v-if="avatar != 'images/unknown.jpg'" data-toggle="modal" data-target="#galleryPhotosModal" v-on:click="getPhotoData")
						img(v-bind:src='avatar', alt='avatar')
					.profile-avatar-wrap(v-else style="cursor: default;")
						img(v-bind:src='avatar', alt='avatar')

					ul.profile-menu-list
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='0')
							| Мой профиль
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='1')
							| Мои сообщения
							span(v-if="mCounter != 0")
								| ({{mCounter}})
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='2')
							| Мои друзья
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='3')
							| Настройки
					ul.profile-menu-list
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='5')
							| Поиск
						li.pml-item(data-target='#profileMainContentCarousel', data-slide-to='6')
							| Черный список
			// MAIN CONTENT
			.col-xs-12.col-sm-6.col-md-6.col-lg-5.all-content-wrap
				.all-content
					#profileMainContentCarousel.carousel.slide(data-ride='carousel', data-interval='false')
						.carousel-inner(role='listbox')
							.loading-window
								.loading-animation
							.carousel-item.scrollbar.active(data-page='profile')
								.gallery-photos-wrap
									ul.gallery-photos-list(v-if="photos")
										gallery-user-photo(v-for="(photo, key, index) in photos" v-bind:item="photo" v-bind:key='key' v-on:click.native="getPhotoData")
									ul.gallery-photos-list(v-else)
										li.gpm-item.no-photos-msg()
												| no photos yet
								.profile-info-wrap
									.profile-name.clearfix
										span {{name}} {{surname}}
										span online
									.hobbies-wrap
										ul.hobbies-list
											hl-item(v-for='(hobbie, key, index) in hobbies' v-bind:item="hobbie" v-bind:key='key' v-on:click.native="deleteHobbie")
									.profile-data-wrap
										.profile-data-header
											| PERSONAL INFORMATION
										ul.profile-data-list
											profile-static-info.pdl-item.clearfix(v-for='obj in profileStaticInfo' v-bind:item='obj' v-bind:key='obj.id')
									.about-yourself-wrap
										.about-yourself-header
											| ABOUT YOURSELF
										textarea.textareaAutoresize(name='about-yourself', disabled='') {{aboutUser}}
							.carousel-item.scrollbar(data-page='messages')
								.profile-chat-wrap
									ul.profile-chat-list(v-if="chats.length == 0")
										.no-messages NO MESSAGES YET
									ul.profile-chat-list(v-else)
										chat(v-for="(chat, index) in chats" v-bind:key="index" v-bind:item="chat")
									.chat-wrap
										.chat-header
											.close-chat-btn
												i.fa.fa-arrow-left(aria-hidden='true')
											.interlocutor-info-wrap.clearfix(data-target="#profileMainContentCarousel" data-slide-to="7" v-bind:user="interlocutor.key")
												.chat-interlocutor-name
													| {{interlocutor.name}} {{interlocutor.surname}}
												.chat-interlocutor-avatar
													img(v-bind:src='interlocutor.avatar', alt='interlocutorAvatar')
										.chat-body.scrollbar
											ul.chat-messages-wrap
												message(v-for="(message, index) in messages" v-bind:key="index" v-bind:item="message")
										.chat-footer
											textarea.textarea-wrap.scrollbar(contenteditable='true' v-on:keyup.enter="sendMsg")
											.send-msg-btn(v-on:click="sendMsg")
												i.fa.fa-paper-plane(aria-hidden='true')
							.carousel-item.scrollbar(data-page='friends')
								.friends-list-wrap
									ul.friends-list(v-if="friends.length != 0")
										friends-list-item(v-for='friend in friends' v-bind:item='friend' v-bind:key='friend.user_key' v-on:click.native="getAction")
									ul.friends-list(v-else)
										.no-friends-yet
											| NO FRIENDS YET
							.carousel-item.scrollbar(data-page='options')
								.options-list-wrap
									ul.options-list
										//li.ol-first-item
										//	| CHANGE LANGUAGE
										//li.ol-item
										//	span.change-lan language
										//	.dropdown.change-lan-dropdown
										//		button#chooseLanDropdown.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										//		.dropdown-menu(aria-labelledby='chooseLanDropdown')
										//			a.dropdown-item(href='#') EN
										//			a.dropdown-item(href='#') RU
									ul.options-list.new-hashtag
										li.ol-first-item
											| ADD HASHTAGS
										li.ol-item
											input(type='text', name='input-hashtag', placeholder='#some_hashtag', v-on:keyup.enter="sendNewHashtag")
										.send-new-hashtag-btn(v-on:click="sendNewHashtag")
											i.fa.fa-paper-plane(aria-hidden='true')
									ul.options-list.add-avatar
										li.ol-first-item
											| ADD AVATAR
										li.ol-item
										div.click-to-upload-avatar
											| click to upload
											i(class="fa fa-cloud-upload" aria-hidden="true")
										input(type="file" name="upload-user-avatar")
										div.upload-new-avatar-err
											| SOME ERROR
										div.upload-avatar-img-wrap
											img(v-bind:src="photoSrc", v-on:click="deletePhoto")
										div.add-avatar-btn(v-on:click="savePhotos")
											span add photos

									ul.options-list.add-photos
										li.ol-first-item
											| ADD PHOTOS
											span (No more than four)
										li.ol-item
											div.click-to-upload-photo
												| click to upload
												i(class="fa fa-cloud-upload" aria-hidden="true")
											input(type="file" name="upload-user-photos" multiple="true")
											div.upload-new-photo-err
												| SOME ERROR
											new-uploaded-photo(v-for="photo in photoSrcArr" v-bind:item="photo" v-bind:key="photo.photoCounter" v-on:click.native="deletePhoto")
											div.add-photos-btn(v-on:click="savePhotos")
												span add photos

									ul.options-list.delete-photos
										li.ol-first-item
											| DELETE PHOTOS
										li.ol-item.options-photos(v-if="photos.length != 0")
											options-photo(v-for="(photo, key, index) in photos" v-bind:key='key' v-bind:item="photo" v-on:click.native="markPhoto")
											div.delete-photos-btn(v-on:click="deletePhotos")
												span delete photos
										li.ol-item(v-else)
											span no photos yet

									ul.options-list.update-user-info
										li.ol-first-item
											| UPDATE YOUR INFORMATION
										li.ol-first-item(data-target="#profileMainContentCarousel" data-slide-to="4")
											| click to update your info
											<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							.carousel-item.scrollbar(data-page='changeUserData')
								div.back-to-options(data-target="#profileMainContentCarousel" data-slide-to="3")
									<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
									| back
								form.change-user-info(name="changeUserInfo")
									.reg-item-head
										| CHANGE YOUR PROFILE INFORMATION
									input(type='text', name='changeUserName', v-bind:placeholder='user.name')
									input(type='text', name='changeUserSurname', v-bind:placeholder='user.surname')
									input(type='text', name='changeUserCountry', v-bind:placeholder='user.country')
									input(type='text', name='changeUserCity', v-bind:placeholder='user.city')
									input(type='email', name='changeUserEmail', v-bind:placeholder='user.email')
									.reg-item-head
										| CHANGE YOUR AGE
									.dropdown.age-dropdown
										button#dropdownYearBtn.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true' aria-expanded='false')
											| age
										.dropdown-menu(aria-labelledby='dropdownYearBtn')
											ul.dropdown-age-list
												li.list-item(v-for='obj in ageList', v-on:click='getAge', :data='obj') {{obj}}
									.reg-item-head
										| CHANGE SEX ORIENTATION
									.reg-checkbox-wrap
										label(for='male') GETERO
										input#getero(type='radio', value='getero', name='sex-orientation')
									.reg-checkbox-wrap
										label(for='female') BISEXUAL
										input#bisexual(type='radio', value='bisexual', name='sex-orientation')
									.reg-checkbox-wrap
										label(for='any') LESBIAN
										input#lesbian(type='radio', value='lesbian', name='sex-orientation')
									.reg-checkbox-wrap
										label(for='any') GAY
										input#gay(type='radio', value='gay', name='sex-orientation')
									.reg-item-head
										| SEX
									.reg-checkbox-wrap
										label(for='male') MALE
										input#male(type='radio', value='male', name='gender')
									.reg-checkbox-wrap
										label(for='female') FEMALE
										input#female(type='radio', value='female', name='gender')
									.btn(name='submit', value='submit' v-on:click="getData")
										| submit
							.carousel-item.scrollbar(data-page='search')
								.search-users-wrap
									.search-input-wrap
										input(type='text', name='user-search-input' v-on:keyup.enter="findProfile()")
										.dropdown.search-filter-dropdown
											button#applyUserFilters.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
												i.fa.fa-cogs(aria-hidden='true')
											.dropdown-menu.scrollbar(aria-labelledby='applyUserFilters')
												ul.search-filters-list.scrollbar
													li.sfl-item
														.sfl-item-head
															| FAMOUS
														.sfl-item-body
															| MAX
															.range-slider
																input.range-slider__range(name="maxFamous" type='range', value='10000', min='0', max='10000')
																span.range-slider__value
																	| {{maxFamous}}
															| MIN
															.range-slider
																input.range-slider__range(name="minFamous" type='range', value='0', min='0', max='10000')
																span.range-slider__value
																	| {{minFamous}}
													li.sfl-item
														.sfl-item-head
															| AGE
														.sfl-item-body
															| MAX
															.range-slider
																input.range-slider__range(name="maxAge" type='range', value='18', min='19', max='100')
																span.range-slider__value
																	| {{maxAge}}
															| MIN
															.range-slider
																input.range-slider__range(name="minAge" type='range', value='18', min='18', max='100')
																span.range-slider__value
																	| {{minAge}}
													li.sfl-item
														.sfl-item-head
															| RADIUS
														.sfl-item-body
															.range-slider
																input.range-slider__range(name="radius" type='range', value='100', min='0', max='2000')
																span.range-slider__value
																	| {{radius}}
													li.sfl-item
														.sfl-item-head
															| COUNTRY
														.sfl-item-body
															input(type='text', name='sflCountry', v-bind:value='sflCountry' v-on:keyup="setAction({action:'sflCountry'})")
													li.sfl-item
														.sfl-item-head
															| CITY
														.sfl-item-body
															input(type='text', name='sflCity', v-bind:value='sflCity' v-on:keyup="setAction({action:'sflCity'})")
													li.sfl-item
														.sfl-item-head
															| HASHTAGS
														.sfl-item-body
															input(type='text', name='findOnHashtags', v-bind:value='findOnHashtags' v-on:keyup="setAction({action:'findOnHashtags'})")
													li.sfl-item
														.sfl-item-head
															| SEX
														.sfl-item-body
															.radio.sex-check.male-radio
																// MALE
																label(for='male') MALE
																input#male(type='radio', value='male', name='gender' v-on:click="toggleSex('male')")
															.radio.sex-check.female-checkbox
																// FEMALE
																label(for='female') FEMALE
																input#female(type='radio', value='female', name='gender' v-on:click="toggleSex('female')")
															.radio.sex-check.any-checkbox
																// ANY
																label(for='any') ANY
																input#any(type='radio', value='any', name='gender', checked='' v-on:click="toggleSex('any')")
													li.sfl-item
														.sfl-item-head
															| SEX ORIENTATION
														.sfl-item-body
															.checkbox.sex-check
																label(for='male') GETERO
																input#getero(type='checkbox', value='getero', name='sex-orientation', checked='' v-on:click="toggleSexOrientation('getero')")
															.checkbox.sex-check
																label(for='female') BISEXUAL
																input#bisexual(type='checkbox', value='bisexual', name='sex-orientation' v-on:click="toggleSexOrientation('bisexual')")
															.checkbox.sex-check
																label(for='any') LESBIAN
																input#lesbian(type='checkbox', value='lesbian', name='sex-orientation', v-on:click="toggleSexOrientation('lesbian')")
															.checkbox.sex-check
																label(for='any') GAY
																input#gay(type='checkbox', value='gay', name='sex-orientation' v-on:click="toggleSexOrientation('gay')")
													li.sfl-item
														.sfl-item-head
														.sfl-item-body
															button.btn.btn-primary(v-on:click="findProfile()") APPLY
															button.btn.btn-danger() CLOSE
								.founded-users-list-wrap
									ul.founded-users-list(v-if="users.length > 0")
										founded-users(v-for="(user, index) in users" v-bind:item="user" v-bind:key="index")
									ul.founded-users-list(v-else)
										.no-founded-users
											| NO MATCHES FOUND
							.carousel-item.scrollbar(data-page='blacklist')
								.blacklist-wrap
									ul.blacklist()
										.blacklist-is-empty(v-if="users.length == 0")
											| BLACK LIST IS EMPTY
										bl-item(v-else v-on:click.native="getAction" v-for="(user, index) in users" v-bind:key="index" v-bind:item="user")
							.carousel-item.scrollbar(data-page='anotherUser')
								.au-avatar-wrap
									.au-avatar
										.au-avatar-img(v-if="photoSrc != 'images/unknown.jpg'" v-on:click="getPhotoData")
											img(v-bind:src="photoSrc" alt='another user img' data-toggle="modal" data-target="#galleryPhotosModal")
										.au-avatar-img(v-else style="cursor: default;")
											img(v-bind:src="photoSrc" alt='another user img')
									.au-profile-name.clearfix
										span {{name}} {{surname}}
										span {{status}}
									.au-connection.clearfix
										div.add-to-friends(v-bind:class="{innactive: friends}" v-on:click="addUserToFriends")
											i(class="fa fa-user-plus" aria-hidden="true")
										div.send-message(v-if="liked == false" data-target="#profileMainContentCarousel" data-slide-to="1" v-on:click="goToChat")
											i(class="fa fa-comments-o" aria-hidden="true")
										div.send-message(v-else class="innactive")
											i(class="fa fa-comments-o" aria-hidden="true")
								.au-gallery-photos-wrap
									ul.au-gallery-photos-list(v-if="photos.length != 0")
										au-gallery-user-photo(v-for="(photo, key, index) in photos" v-bind:item="photo" v-bind:key='key' v-on:click.native="getPhotoData")
									ul.au-gallery-photos-list(v-else)
										li.au-gpm-item.no-photos-msg()
											| no photos yet
								.au-profile-info-wrap
									.au-hobbies-wrap
										ul.au-hobbies-list
											au-hl-item(v-for='(hobbie, key, index) in hobbies' v-bind:key='key' v-bind:item="hobbie")
									.au-profile-data-wrap
										.au-profile-data-header
											| PERSONAL INFORMATION
										ul.au-profile-data-list
											profile-static-info.au-pdl-item.clearfix(v-for='obj in profileStaticInfo' v-bind:item='obj' v-bind:key='obj.id')
									.au-about-yourself-wrap
										.au-about-yourself-header
											| ABOUT YOURSELF
										textarea.textareaAutoresize(name='au-about-yourself', disabled='') Describe you and your hobbies

	// test
	#galleryPhotosModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog.modal-dialog-gallery(role='document')
			.modal-content.modal-content-gallery
				dov.row
					.col-xs-12.col-sm-8.col-md-8.modal-photo-wrap
						.close-modal(class="close" data-dismiss="modal" aria-label="Close")
							i(class="fa fa-times" aria-hidden="true")
						img(:src="photoSrc", alt='')
					.col-xs-12.col-sm-4.col-md-4.modal-comments-wrap
						.modal-comments-head
							.photo-owner-wrap
								img(v-bind:src='avatarSrc', alt='')
							.photo-owner-name
								| {{fullName}}
							.photo-likes(v-on:click="like")
								| {{likes}}
								i.fa.fa-heart(aria-hidden='true')
						.modal-comments-body.scrollbar
							ul.comments-list(v-if="comments.length > 0")
								comment(v-for="(comment, key, index) in comments" v-bind:key='key' v-bind:item="comment")
							ul.comments-list(v-else)
								li.no-comments-yet
									| no comments yet
						.modal-comments-footer
							.textarea-wrap.scrollbar(contenteditable='true' v-on:keyup.enter="sendComment")
							.send-msg-btn(v-on:click="sendComment")
								i.fa.fa-paper-plane(aria-hidden='true')
