<!DOCTYPE html>
html
    head
        //- link(rel='stylesheet', href='/css/style.css')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
            | Matcha
        link(rel='shortcut icon', href='images/1.png', type='image/png')
        //- External css
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        //- Internal css
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/media/media-reset.css')
        //- Internal scripts
        script(type='text/javascript', src='/js/classes/Class.Ajax.js')
        script(type='text/javascript', src='/js/reset.js')

    body!= body