.scrollbar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
}

.scrollbar::-webkit-scrollbar
{
	width: 1%;;
	/*background-color: #F5F5F5;*/
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: lightgrey;
	/*border: 2px solid lightgrey;*/
}
html, body, .content-main {
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
html, body, .content-main, .container, .row {
    height: 100%;
	font-family: 'Roboto Black Italic', arial;
}
.container {
	overflow-y: auto;
	overflow-x: hidden;
}
h1 {font-size: 12vh;}
h2 {font-size: 10vh;}
h3 {font-size: 8vh;}
h4 {font-size: 6vh;}
h5 {font-size: 4vh;}
h6 {font-size: 3vh;font-weight: normal;}
/*
** main slider
*/
.content-main .container {
    padding: 0;
    width: 100%;
    /*max-width: 1200px;*/
}
.content-main .container .main-slider-top {
    margin: 0;
    /*height: 500px;*/
}
.content-main .container .main-slider-top .col {
    padding: 0;
}
.content-main .container .main-slider-top .col .carousel,
.content-main .container .main-slider-top .col .carousel-inner,
.content-main .container .main-slider-top .col .carousel-inner .carousel-item,
.content-main .container .main-slider-top .col .carousel-inner .carousel-item .img-fluid {
    height: 100%;
}
.content-main .container .main-slider-top .col .carousel-inner .carousel-item {
    justify-content: center;
}
.content-main .container .main-slider-top .col .carousel-inner .carousel-item .img-fluid {
    max-width: none;
}
.carousel-inner .carousel-item .carousel-caption {
    bottom: 30%;
    opacity: 0;
}
.carousel-inner .carousel-item .carousel-caption h2 {
	font-size: 6vh;
	/*font-size: 2.3rem;*/
}
.carousel-inner .carousel-item .carousel-caption h1 {
	font-size: 12vh;
	/*font-size: 5rem;*/
}
.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}
.carousel-control-next > span,
.carousel-control-prev > span {
	width: 2vh;
	height: 2vh;
}
.carousel-indicators {
	bottom: 0;
	margin-bottom: 5vh;
}
.carousel-indicators li {
	height: 0.8vh;
	max-width: 7vh;
	margin: 0 1vh;
}

/*
** main describe block
*/
.main-describe-block {
	padding: 0 3% 0 5%;
	overflow: hidden;
	border-bottom: 1px solid lightgray;
}
.describe-text-header {
	text-align: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
}
.describe-text-header h4 {
	margin: 0;
}
.describe-text {
	height: 60vh;
	overflow: auto;
	text-align: justify;
}
.describe-text h6 {
	font-family: sans-serif;
}

.describe-video-wrap {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	height: 100%;
}
.describe-video-wrap iframe {
	width: 100%;
	height: 60vh;
}
.btn-describe-more {
	position: relative;
	box-sizing: content-box;
	display: inline-block;
    padding: 2% 5%;
	margin-top: 2vh;
    border: 1px solid lightgray;
	cursor: pointer;
	color: #ED939D;
	text-decoration: none;
}
.btn-describe-more:active,
.btn-describe-more:hover {
	text-decoration: none;
	color: #ED939D;
}
.btn-describe-more:after {
    position: absolute;
	top: -2px;
    height: 102%;
    width: 6vh;
    right: -6vh;
	background: #557780;
    border-radius: 0 5px 5px 0;
    border: 1px solid lightgrey;
	border-left: none;
	content: '>';
	font-size: 4vh;
	text-align: center;
	color: #fff;
	transition: 0.3s;
}
.btn-describe-more:hover:after {
	background: #ED939D;
}
.btn-describe-more h5 {
	margin: 0;
}

/*
** main statistic wrap
*/
.main-statistic-wrap {
    padding: 0 3% 0 5%;
	background: url('../../images/pages/index/statistic-background.png') no-repeat;
	background-position: 100% 30%;
	overflow: auto;
	overflow-x: hidden;
}
.main-statistic-wrap > div:last-child,
.main-statistic-wrap > div:first-child {
	height: 15%;
	padding: 0;
}
.main-statistic-wrap > div:nth-child(2) {
	height: 70%;
	margin-left: -2vh;
}
.main-statistic-wrap .statistic-registraion-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	padding-right: 6vh;
	color: #ED939D;
}
.btn-registration-join {
	position: relative;
	padding: 2vh 3vh;
	border: 0.2vh solid lightgrey;
	text-decoration: none !important;
	color: #ED939D !important;
	cursor: pointer;
}
.btn-registration-join:active,
.btn-registration-join:hover {
	text-decoration: none;
	color: #ED939D;
}
.btn-registration-join:after {
	position: absolute;
	top: -2px;
    height: 109%;
	width: 6vh;
    right: -6vh;
	background: #557780;
    border-radius: 0 5px 5px 0;
    border: 1px solid lightgrey;
	border-left: none;
	content: '>';
	font-size: 4vh;
	text-align: center;
	color: #fff;
	transition: 0.3s;
}
.btn-registration-join:hover:after {
	background: #ED939D;
}

.btn-registration-join h6 {
	margin: 0;
}
.main-statistic-wrap .statistic {
	display: inline-block;
	width: 35vh;
	height: 35vh !important;
	padding: 2vh;
	font-size: 6vh;
}
.main-statistic-wrap .statistic h6 {
	text-align: center;
}
.main-statistic-wrap .statistic div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	padding: 30% 0;
	background: #ED939D;
	border-radius: 5px;
	color: #fff;
}
/*
** main new user
*/
.main-new-users {
	background: rgba(237, 147, 157, 0.5);
}
.main-new-users > div:first-child {
	height: 20%;
	background-color: #c94c67;
}
.main-new-users .main-article-wrap {
	padding: 0 2vh;
	margin: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	overflow: hidden;
}
.main-new-users .main-article-wrap li {
	float: left;
	width: 25%;
	height: 100%;
	transition: 0.3s;
	font-size: 2vh;
}
.main-new-users .main-article-wrap li:hover {
	background: #fff;
	cursor: pointer;
}
.main-new-users .main-article-wrap li .item-text,
.main-new-users .main-article-wrap li .item-icon {
	height: 60%;
	padding-left: 6vh;
}
.main-new-users .main-article-wrap li .item-text {
	height: 40%;
	font-size: 2vh;
    color: #fff;
}
.main-new-users .main-article-wrap li .item-icon {
	padding-left: 6vh;
	font-size: 6vh;
	line-height: 16vh;
	color: #fff;
}
.main-new-users .main-article-wrap li:hover .item-icon,
.main-new-users .main-article-wrap li:hover .item-text {
	color: #c94c67;
}
.main-new-users > div:last-child {
	height: 80%;
}
.main-new-users .last-added-profiles {
	display: flex;
	align-items: center;
	height: 20%;
	padding: 0 5vh;
	margin-top: 5vh;
	color: #fff;
	white-space: nowrap;
	transition: 0.5s;
}
.lap-list-wrap {
	height: 50%;
}
.lap-list-wrap .lap-list {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 3vh;
}
.lap-item {
	float: left;
	width: 25%;
	height: 100%;
	padding: 0 2vh;
	list-style: none;
	cursor: pointer;
}
.lap-img-wrap {
	display: flex;
	justify-content: center;
	height: 73%;
    border-radius: 5px 5px 0;
	overflow: hidden;
}
.lap-img-wrap img {
	max-height: 100%;
	transition: 0.5s;
}
.lap-item:hover .lap-img-wrap img {
	transform: scale(1.3);
}
.lap-bottom-text {
	position: relative;
	height: 27%;
	padding: 2vh;
	font-size: 2.5vh;
	color: #fff;
	background: #c94c67;
	border-radius: 0 0 5px 5px;
	transition: 0.3s;
}
.lap-item:hover .lap-bottom-text {
	background-color: #fff;
	color: #ED939D;
}
.lap-btn-more {
	float: right;
	padding: 1vh 2vh;
	color: #fff !important;
	text-decoration: none !important;
	background: #ED939D;
	border-radius: 3px;
	transition: 0.3s;
}
.lap-btn-more:active,
.lap-btn-more:hover {
	color: #fff;
	background: darkgrey;
	text-decoration: none;
}
.main-footer {
	position: fixed;
    bottom: 0;
    right: 2vh;
}
.main-anchor {
	position: fixed;
    right: 3vh;
    top: 40%;
    width: 2vh;
	transition: 0.3s;
	opacity: 0;
}
.main-anchor i {
	text-decoration: none;
	color: #9b59b6;
}
.main-anchor i:active,
.main-anchor i:hover {
	text-decoration: none;
	color: #8e44ad;
}
.main-anchor .active i {
	color: #e74c3c;
}

/*.main-anchor a:after {
	content: ".";
	font-size: 2vh;
}*/
