html, body, div, form{box-sizing: border-box;}
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    /*overflow: hidden;*/
    overflow: auto;
}
body{background: #EBE1E2;}
.wrap .container
{
    padding: 5% 0px 0px 0px;
}
.wrap .container .label
{
    width: 235px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}
.wrap .container .label a
{
    color: #000;
    font-family: 'Roboto Black Italic';
    font-size: 35px;
    text-decoration: none;
}
.hide_block
{
    transition: 0.5s;
    transform: translateY(-100px);
    opacity: 0;
}
.show_block
{
    transition: 0.5s;
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

/*
** ==================================
**        _-= Форма для входа =-_
** ==================================
*/

.wrap .container .reg-forms-wrap {
    max-height: 100%;
}
.wrap .container .input_form_wrap
{
    max-width: 330px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 2px;
    background: white;
}
.wrap .container .input_form_wrap:last-child
{
    display: none;
    opacity: 0;
    transform: translateY(100px);
}
.wrap .container .input_form:after
{
    content: "";
    display: table;
    clear: both;
}
.wrap .container .input_form input
{
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto Black', arial;
    transition: 0.3s;
    outline: none;
}
.wrap .container .input_form input::placeholder {
    color: #000;
}
.wrap .container .input_form_reg,
.wrap .container .input_form_log {
    font-family: 'Roboto Black', arial;
}
.wrap .container .input_form_reg{padding: 30px 30px 15px 30px;}
.wrap .container .input_form_log{padding: 30px 30px 0px 30px;}
.wrap .container .input_form_log .error_name_wrap
{
    display: none;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 17px;
    font-family: 'Roboto Black', arial;
}
.error_name_wrap .error
{
    padding: 8px;
    background: #ffa9a9;
    text-align: center;
    color: red;

}
.error_name_wrap .forgot_pass
{
    float: right;
    margin: 10px 0 10px 0;
    font-family: sans-serif;
    font-size: 13px;
    color: #00bcd4;
    text-decoration: none;
}
.error_name_wrap .forgot_pass:hover{cursor: pointer;}
.wrap .container .input_form_reg .error_reg
{
    display: none;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 0px 0px 5px 5px;
    background: #ffa9a9;
    font-size: 17px;
    font-family: sans-serif;
    color: red;
}
.wrap .container .input_form_reg input
{
    margin-top: 15px;
    margin-bottom: 0;
}
.wrap .container .input_form_reg input[name="name_reg"]
{
    margin-top: 0;
}
.wrap .container .input_form_log .register
{
    float: left;
    margin-top: 19px;
    font-family: 'Roboto Black', arial;
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.reg-item-head {
    padding: 10px 0px 5px 0px;
    font-size: 1.2em;
}
.reg-checkbox-wrap {
    position: relative;
    font-size: 0.9em;
}
.reg-checkbox-wrap label {
    margin: 0;
}
.reg-checkbox-wrap input {
    position: absolute;
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
    top: 3px;
    right: 0;
    /* height: 100%; */
    margin: 0 !important;
    cursor: pointer;
}

.wrap .container .input_form_log .register:hover{cursor: pointer;}
.wrap .container .input_form_reg .if_back,
.wrap .container .input_form .if_submit
{
    float: right;
    width: initial;
    margin-top: 10px;
    padding: 5px 16px;
    color: #000;
    font-family: 'Roboto Black', arial;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: none !important;
    outline: none !important;
    border-radius: 2px;
    transition: 0.5s;
}
.wrap .container .input_form_reg .if_back{float: left;}
.wrap .container .input_form_reg .if_back:hover,
.wrap .container .input_form .if_submit:hover
{
    cursor: pointer;
    background: #efefef;
    border-radius: 10px;
    border: none;
    color: #000;
}
.wrap .container .input_form_reg .email_created
{
    display: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: #2A572A;
    background-color: #09E209;
    opacity: 0.7;
    transition: 0.5s;
}
