@media (max-width: 576px) {
    .wrap .container .input_form_wrap {
        width: 100%;
        max-width: inherit;
    }
    .wrap .container .input_form input {
        font-size: 1.2em;
    }
    .reg-checkbox-wrap {
        font-size: 1.2em;
    }
    .reg-checkbox-wrap input {
        height: 20px !important;
        width: 20px !important;
    }
}
